@model STS.ViewModels.EmployeeDetailsViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Employees.EmployeeDetailsTitle;
}
<h2>@ViewBag.Title</h2>
<br /><br />
<div class="form-group">
    @Html.LabelFor(m => m.EmployeeName)<br />
    <text class="text-muted">@Model.EmployeeName</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Email) <br />
    <text class="text-muted">@Model.Email</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.DateAdded) <br />
    <text class="text-muted">@Model.DateAdded</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.PhoneNumber) <br />
    <text class="text-muted">@Model.PhoneNumber</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Location) <br />
    <text class="text-muted">@Model.Location</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Status) <br />
    <text class="text-muted">@Model.Status</text>
</div><br />
@Html.ActionLink(Employees.BackToEmployeesButton, "Index", "Employees", new { @class = "btn btn-primary" })







