@model STS.ViewModels.StatisticsIndexViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Statistics.StatisticsIndexTitle;
}
<h2>@ViewBag.Title</h2>
<br />
<div class="form-group">
    @Html.LabelFor(m => m.RegisteredShipments) <br />
    @Html.DisplayFor(m => m.RegisteredShipments, new { @Class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ShipmentsWaitingShipping) <br />
    @Html.DisplayFor(m => m.ShipmentsWaitingShipping, new { @Class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ShipmentsWaitingCollection) <br />
    @Html.DisplayFor(m => m.ShipmentsWaitingCollection, new { @Class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CollectedShipments) <br />
    @Html.DisplayFor(m => m.CollectedShipments, new { @Class = "form-control" })
</div>








