@model STS.ViewModels.MainIndexViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Main.TrackShipmentTitle;
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<br /><br />
@using (Html.BeginForm("Track", "Main", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.TrackingNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TrackingNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TrackingNumber)
        </div>
    </div><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Main.TrackShipmentTitle" class="btn btn-primary" />
        </div>
    </div>
}