@model STS.ViewModels.SetDeliveryLocationViewModel
@using STS.Resources.Views
@{
    string FixErrors = Main.FixErrors;
    ViewBag.Title = Main.SetDeliveryLocationTitle;
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm("Set", "Main"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Latitude)
        @Html.TextBoxFor(m => m.Latitude, new { @Class = "form-control", id = "latitude" })
        @Html.ValidationMessageFor(m => m.Latitude)
    </div><br />
    <div class="form-group">
        @Html.LabelFor(m => m.longitude)
        @Html.TextBoxFor(m => m.longitude, new { @Class = "form-control", id = "longitude" })
        @Html.ValidationMessageFor(m => m.longitude)
    </div><br />
    <div id="DeliveryLocationMapPlaceHolder" style="width: 450px; height: 400px;"></div>
    <div class="clearfix">&nbsp;</div><br />
    @Html.HiddenFor(c => c.TrackingNumber)
    @Html.HiddenFor(c => c.ReceiverPhoneNumber)
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.DeliveryRange)
    </div><br />
    <button type="submit" class="btn btn-primary">@Main.Set</button>
}
