@model STS.ViewModels.TrackShipmentViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Main.TrackShipmentTitle;
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<br />
<br />
<div class="form-group">
    @Html.LabelFor(m => m.TrackingNumber) <br />
    <text class="text-muted">@Model.TrackingNumber</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Source) <br />
    <text class="text-muted">@Model.Source</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Destination) <br />
    <text class="text-muted">@Model.Destination</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Status) <br />
    <text class="text-muted">@Model.Status</text>
</div><br />
@if (Model.Status != Shipments.ShipmentWaitingCollection && Model.Status != Shipments.ShipmentCollected)
{
    <div class="form-group">
        @Html.LabelFor(m => m.EstimatedDeliveryDate) <br />
        <text class="text-muted">@Model.EstimatedDeliveryDate</text>
    </div><br />

}
@if (Model.CurrentLocation != null)
{
    <div class="form-group">
        @Html.LabelFor(m => m.CurrentLocation) <br />
        <text class="text-muted">@Model.CurrentLocation</text>
    </div><br />
}
@if (Model.CurrentLocation != null && Model.Status != Shipments.ShipmentWaitingCollection && Model.Status != Shipments.ShipmentCollected)
{
    <div class="form-group">
        @Html.LabelFor(m => m.DistanceToDestination) <br />
        <text class="text-muted">@Model.DistanceToDestination</text>
    </div><br />
}
<table id="Reports" TrackingNumber="@Model.TrackingNumber" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="text-center"><i class="fas fa-clipboard-list"></i></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>