@model STS.ViewModels.LocationDetailsViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Locations.LocationDetailsTitle;
}
<h2>@ViewBag.Title</h2>
<br /><br />
<div class="form-group">
    @Html.LabelFor(m => m.LocationName) <br />
    <text class="text-muted">@Model.LocationName</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.City) <br />
    <text class="text-muted">@Model.City</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Latitude)
    @Html.TextBoxFor(m => m.Latitude, new { @Class = "form-control", id = "latitude", Disabled = true })
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.longitude)
    @Html.TextBoxFor(m => m.longitude, new { @Class = "form-control", id = "longitude", Disabled = true })
</div><br />
<div id="DetailsMapPlaceHolder" style="width: 550px; height: 400px;"></div>
<div class="clearfix">&nbsp;</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.DeliveryRange, new { style = "direction: ltr;"}) <br />
    <text class="text-muted">@Model.DeliveryRange</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.CanBeDestination) <br />
    <text class="text-muted">@Model.CanBeDestination</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.NumberOfEmployees) <br />
    <text class="text-muted">@Model.NumberOfEmployees</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.NumberOfShipments) <br />
    <text class="text-muted">@Model.NumberOfShipments</text>
</div><br />
@Html.ActionLink(Locations.BackToLocationsButton, "Index", "Shipments", new { @class = "btn btn-primary" })











