@model STS.ViewModels.LocationFormViewModel
@using STS.Resources.Views
@{
    bool IsNew = Model.LocationId == 0;
    string FixErrors = Locations.FixErrors;
    string ButtonText = IsNew ? Locations.NewLocationButtonText : Locations.UpdateLocationButtonText;
    ViewBag.Title = IsNew ? Locations.NewLocationTitle : Locations.UpdateLocationTitle;
}
<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm("Save", "Locations"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.LocationName)
        @Html.TextBoxFor(m => m.LocationName, new { @Class = "form-control", id = "LocationName" })
        @Html.ValidationMessageFor(m => m.LocationName)
    </div><br />
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @Class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div><br />
    <div class="form-group">
        @Html.LabelFor(m => m.Latitude)
        @Html.TextBoxFor(m => m.Latitude, new { @Class = "form-control", id = "latitude" })
        @Html.ValidationMessageFor(m => m.Latitude)
    </div><br />
    <div class="form-group">
        @Html.LabelFor(m => m.longitude)
        @Html.TextBoxFor(m => m.longitude, new { @Class = "form-control", id = "longitude" })
        @Html.ValidationMessageFor(m => m.longitude)
    </div><br />
    <div id="FormMapPlaceHolder" style="width: 450px; height: 400px;"></div>
    <div class="clearfix">&nbsp;</div><br />
    <div class="form-group">
        @Html.LabelFor(m => m.DeliveryRange)
        @Html.TextBoxFor(m => m.DeliveryRange, new { @Class = "form-control" })
        @Html.ValidationMessageFor(m => m.DeliveryRange)
    </div><br />
    <div class="form-group">
        @Html.CheckBoxFor(m => m.CanBeDestination) <label>@Locations.CanBeDestination</label>
    </div><br />

    @Html.HiddenFor(c => c.LocationId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">@ButtonText</button>
}

