@model STS.ViewModels.ShipmentDetailsViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Shipments.ShipmentDetailsTitle;
}
<h2>@ViewBag.Title</h2>
<br />
<br />
<div class="form-group">
    @Html.LabelFor(m => m.TrackingNumber) <br />
    <text class="text-muted">@Model.TrackingNumber</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.DateAdded) <br />
    <text class="text-muted">@Model.DateAdded</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.ArrivalDate) <br />
    <text class="text-muted">@Model.ArrivalDate</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.SenderName) <br />
    <text class="text-muted">@Model.SenderName</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.SenderPhoneNumber) <br />
    <text class="text-muted">@Model.SenderPhoneNumber</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.ReceiverName) <br />
    <text class="text-muted">@Model.ReceiverName</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.ReceiverPhoneNumber) <br />
    <text class="text-muted">@Model.ReceiverPhoneNumber</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.WeightKG) <br />
    <text class="text-muted">@Model.WeightKG</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Description) <br />
    <text class="text-muted">@Model.Description</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Source) <br />
    <text class="text-muted">@Model.Source</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.Destination) <br />
    <text class="text-muted">@Model.Destination</text>
</div><br />
<div class="form-group">
    @Html.LabelFor(m => m.CollectionMethod) <br />
    <text class="text-muted">@Model.CollectionMethod</text>
</div><br />
@if(Model.CollectionMethod == Shipments.Delivery) {
<div class="form-group">
    @Html.LabelFor(m => m.DeliveryLocationUrl) <br />
    @if (Model.DeliveryLocationUrl != null)
    {
        <a href="@Model.DeliveryLocationUrl" target="_blank">@Shipments.OpenLocation</a>
    }
    else
    {
        <a>@Shipments.HasNotBeenAssignedYet</a>
    }
</div><br />
}
@Html.ActionLink(Shipments.BackToShipmentsButton, "Index", "Shipments", new { @class = "btn btn-primary" })
<button class="btn btn-primary" onclick=Print('BarcodeLabel')>@Shipments.PrintBarcode</button>
<div id="BarcodeLabel" style="display:none;">
    <h1 style="text-align:center">STS</h1>
    <img style="display: block;margin-left: auto;margin-right: auto;width: 60%;" src="@Url.Action("Barcode" , "Shipments" , new { TrackingNumber = Model.TrackingNumber})" />
</div>










