@using Microsoft.AspNet.Identity
@using STS.Resources.Layouts
@if (Request.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" rel="tooltip" title="@Partials.Profile" data-placement="bottom" href="/Account/Profile">
            <i class="far fa-user-circle"></i>
            <p class="d-lg-none">@Partials.Profile</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" rel="tooltip" title="@Partials.LogOff" data-placement="bottom" href="/Account/logoff">
            <i class="fas fa-sign-out-alt"></i>
            <p class="d-lg-none">@Partials.LogOff</p>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" rel="tooltip" title="@Partials.LogIn" data-placement="bottom" href="/Account/Login">
            <i class="fas fa-sign-in-alt"></i>
            <p class="d-lg-none">@Partials.LogIn</p>
        </a>
    </li>
}
