
@using STS.Resources.Layouts

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title - STS</title>
    <script src="https://kit.fontawesome.com/4717f928a6.js" crossorigin="anonymous"></script>
    @Styles.Render("~/bundles/Styles")
</head>
<body class="index-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" style="font-size:40px;" href="/Main" rel="tooltip" title="STS" data-placement="bottom">
                    STS
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="@AdminLayout.Employees" data-placement="bottom" href="/Employees">
                            <i class="fas fa-users"></i>
                            <p class="d-lg-none">@AdminLayout.Employees</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="@AdminLayout.NewEmployee" data-placement="bottom" href="/Employees/New">
                            <i class="fas fa-user-plus"></i>
                            <p class="d-lg-none">@AdminLayout.NewEmployee</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="@AdminLayout.Locations" data-placement="bottom" href="/Locations">
                            <i class="fas fa-globe-asia"></i>
                            <p class="d-lg-none">@AdminLayout.Locations</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="@AdminLayout.NewLocation" data-placement="bottom" href="/Locations/New">
                            <i class="fas fa-map-marked-alt"></i>
                            <p class="d-lg-none">@AdminLayout.NewLocation</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="@AdminLayout.Statistics" data-placement="bottom" href="/Statistics">
                            <i class="fas fa-chart-area"></i>
                            <p class="d-lg-none">@AdminLayout.Statistics</p>
                        </a>
                    </li>
                    @Html.Partial("_ChangeLanguagePartial")
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header section-dark" style="background-image: url('https://habaratrading.com/wp-content/uploads/2017/03/Warehouse_and_Cargo_Insurance.jpg')">
        <div class="filter"></div>
    </div>
    <div class="main">
        <div class="container body-content">
            @RenderBody()
            <br />
            <br />
            <hr />
            @Html.Partial("_FooterPartial")
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=@Credentials.GoogleMapsApiKey"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="/Language/ScriptsLocale/Locations"></script>
    <script src="/Language/ScriptsLocale/Employees"></script>
    @Scripts.Render("~/bundles/Scripts")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/AdminScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
