@model STS.ViewModels.ProfileViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Account.ProfileTitle;
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4></h4>
    <hr />
    @if (User.IsInRole("Employee"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeName) <br />
            @Html.DisplayFor(m => m.EmployeeName, new { @Class = "form-control" })
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.UserEmail) <br />
        @Html.DisplayFor(m => m.UserEmail, new { @Class = "form-control" })
    </div>
    @if (User.IsInRole("Employee"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeePhoneNumber) <br />
            @Html.DisplayFor(m => m.EmployeePhoneNumber, new { @Class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeLocation) <br />
            @Html.DisplayFor(m => m.EmployeeLocation, new { @Class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeDateAdded) <br />
            @Html.DisplayFor(m => m.EmployeeDateAdded, new { @Class = "form-control" })
        </div>
    }
    <dl class="dl-horizontal">
        <dd>
                @Html.ActionLink(Account.ChangePassword, "ChangePassword")
        </dd>
    </dl>
</div>
