@model STS.ViewModels.ProfileViewModel
@using STS.Resources.Views
@{
    ViewBag.Title = Account.ProfileTitle;
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <br />
    @if (User.IsInRole("Employee"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeName) <br />
            <text class="text-muted">@Model.EmployeeName</text>
        </div><br />
    }
    <div class="form-group">
        @Html.LabelFor(m => m.UserEmail) <br />
        <text class="text-muted">@Model.UserEmail</text>
    </div><br />
    @if (User.IsInRole("Employee"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeePhoneNumber) <br />
            <text class="text-muted">@Model.EmployeePhoneNumber</text>
        </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeLocation) <br />
            <text class="text-muted">@Model.EmployeeLocation</text>
        </div><br />
        <div class="form-group">
            @Html.LabelFor(m => m.EmployeeDateAdded) <br />
            <text class="text-muted">@Model.EmployeeDateAdded</text>
        </div><br />
    }
    <dl class="dl-horizontal">
        <dd>
            @Html.ActionLink(Account.ChangePassword, "ChangePassword")
        </dd>
    </dl>
</div>
